/[A-Za-z]*
.ApacheDirectoryStudio/
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.account
.android/
.android-sdk-installer/
.atom/
.aws/
.babel.json
.bash/plugins/amazon
.bash_history
.chef/
.cups/
.dropbox/
.esets/
.gem
.gnupg
.guard_history
.irb_history
.lesshst
.minttyrc
.mysql_history
.netrc
.npm/
.nvm/
.pow
.pry_history
.psql_history
.rbenv/
.rnd
.sh_history
.showoffrc
.ssh
!.ssh/config
.subversion/
.vagrant.d/
.vim/.netrwhist
.viminfo
