/[A-Za-z]*
.ApacheDirectoryStudio/
.CFUserTextEncoding
.DS_Store
.Trash
.account
.android/
.bash/plugins/amazon
.bash_history
.cups/
.dropbox/
.esets/
.gem
.gnupg
.irb_history
.lesshst
.minttyrc
.pow
.pry_history
.rbenv/
.rnd
.showoffrc
.ssh
!.ssh/config
.subversion/
.vagrant.d/
.vim/.netrwhist
.viminfo
